venv/
/.idea/.gitignore
/.gitignore
/.idea/emails-with-python.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
env.py
